html,body{
    background-color: black;
}

*{
    color: #fff;
}
.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
 
    width: 250px;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #222;
    
}
.card p{
    margin: 10px 0px;
}
.card img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    
}
.card button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}
.card h1{
    margin: 5px;
}
.card h2{
    margin: 5px;
}